doctype html
html
	head
		title = "Login Page"
	body
		h3 Login page
		input(
			type='text'
			name='username'
		)
		br
		input(
			type='password'
			name='password'
		)
		br
		br
		input(
			type='submit'
			name='send'
		)